@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Montserrat";

.click {
  position: absolute;
  top: 45vh;
  left: 40vw;
  font-family: Montserrat;
  text-align: center;
  line-height: 0.8;
  text-decoration: none;
  color: #000000;
  font-size: 5vw;
  background-color: #FFD400;
  border-radius: 10px;
  width: 20vw;
  height: 10vh;

}
